<h1>Lista de Posts</h1>
<table class="table table-bordered">
<thead>
    <tr>
        <th>ID</th>
         <th>Img</th>
        <th>Titulo</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    {{#each posts}}
     <tr>
        <th>{{id}}</th>
         <th><img src="/upload/{{file}}" width="50" height="50"  class="img-rounded"></th>
        <th>{{title}}</th>
        <th>{{status}}</th>
         <th><a class="btn btn-info" href="/admin/edit/{{id}}">Editar</th>
         <th>

             <form action="/admin/posts/{{id}}?_method=DELETE" method="POST" >
                <button type="submit" class="btn btn-danger">DELETE</button>
             </form>
         </th>
    </tr>
    {{/each}}
</tbody>
</table>