<div class="card card-register mx-auto mt-5">
    <div class="card-header"><h1>Single Post</h1></div>
    <h2>By {{post.user.firtsName}}</h2>
    <div class="card-body">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{post.title}}</h2>
              <p class="card-text">{{post.body}}
            </div>
            <div class="card-footer text-muted">
              Posted on {{generateTime date "MMMM Do YYYY"}}
            </div>
          </div>

            <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form action="/admin/comment/post" method="post">
              <input type="hidden" name="id" value="{{post.id}}"
                <div class="form-group">
                  <textarea name="body" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
    {{#each post.comments}}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{user.firtsName}}</h5>
              {{body}}
            </div>
          </div>
    {{/each}}

        </div>

    </div>
    
</div>